<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <clear />
    <add key ="StringConexion" value ='data source=.\SQLSERVER2012; initial catalog=GD1C2016; user id=gd; password=gd2016; MultipleActiveResultSets=True'/>
    <add key ="FechaSistema" value ="2017-01-01"/>
    <add key ="FechaSistema2" value ="20170101"/>
  </appSettings>
</configuration>